rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is an admin
    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Rules for vouchers
    match /vouchers/{voucherId} {
      allow read: if true;
      allow create, update: if isAdmin();
      allow delete: if isAdmin();
    }

    // Rules for settings
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Rules for addons
    match /addons/{addonId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Admin Collection - Only admin themselves can read/create their doc, and other admins can manage
    match /admins/{userId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if isAdmin();
    }

    // Products Collection
    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Categories Collection
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Orders Collection
    match /orders/{orderId} {
      allow create: if true;
      allow read: if isAdmin() 
                  || resource.data.status in ['unpaid', 'pending-verification', 'pending', 'preparing', 'ready']
                  || (request.auth != null && (resource.data.accountId == request.auth.uid || resource.data.customerId == request.auth.uid));
      allow update, delete: if isAdmin();
    }

    // Claimed Vouchers Collection
    match /claimed_vouchers/{claimedVoucherId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isAdmin() || (request.auth != null && resource.data.userId == request.auth.uid);
    }

    // Profiles Collection
    match /profiles/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }
  }
}
